// =========================================================================
// Partials Import
// =========================================================================

@import "../base/core.scss";
@import "../config/config.scss";