// =========================================================================
// Partials Import
// =========================================================================

@import "../../styles/config/config.scss";


/* Font Icons */
@import "vendor/font-awesome.css";
// @import "vendor/minified/font-awesome.min.css"; - minified version

/* UIKit */
@import "vendor/uikit/uikit.css";
// @import "vendor/minified/uikit/uikit.min.css"; - minified version
@import "vendor/uikit/addons/uikit-addons.css";
// @import "vendor/minified/uikit/addons/uikit-addons.min.css"; - minified version
@import "vendor/uikit/custom-uikit.css";
// @import "vendor/minified/uikit/custom-uikit.min.css"; - minified version