/* ELEMENTS WITH CSS3 PROPERTIES */
/* Text Shadow */
html#myDocument .text-shadow {
  text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -moz-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -webkit-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -o-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
}

html#myDocument {
  text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -moz-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -webkit-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -o-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
}

/* Box Shadow */
html#myDocument .box-shadow, html#myDocument .box, html#myDocument .message, html#myDocument .message-error, html#myDocument .message-alert, html#myDocument .message-warning, html#myDocument .message-info, html#myDocument .message-ok, html#myDocument .message-neutral, html#myDocument .comments, html#myDocument .fixed, html#myDocument .timeline .item .content, html#myDocument .feedback .quote {
  box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -webkit-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -o-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
}

html#myDocument .button, html#myDocument button {
  box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -moz-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -webkit-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -o-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
}

html#myDocument uikit-dropdown .menu, html#myDocument .select .list, html#myDocument .uk-dropdown {
  box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -webkit-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -o-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
}

html#myDocument {
  box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -moz-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -webkit-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -o-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
}

html#myDocument .input.text, html#myDocument .input.editable:focus, html#myDocument input[type='text'], textarea {
  box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -moz-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -webkit-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -o-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
}

html#myDocument {
  box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -moz-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -webkit-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -o-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
}

html#myDocument .button, html#myDocument button {
  box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -moz-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -webkit-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -o-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
}

/* Border Radius */
html#myDocument .border-radius, html#myDocument .border-radius .button, html#myDocument .border-radius button, html#myDocument .border-radius .quote, html#myDocument .border-radius blockquote, html#myDocument .border-radius .tag, html#myDocument .border-radius .input.checkbox.custom + label, html#myDocument .border-radius .input.text, html#myDocument .border-radius input[type='text'], .border-radius textarea, html#myDocument .border-radius .comments {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

html#myDocument .rounded {
  border-radius: 0.3333em;
  -moz-border-radius: 0.3333em;
  -webkit-border-radius: 0.3333em;
}

html#myDocument .timeline .list .item .dot, html#myDocument .round {
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

html#myDocument .flyer.border-radius .action {
  border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
}

/* Transition */
html#myDocument body, html#myDocument a, html#myDocument .transition, html#myDocument .featured-outside .list, html#myDocument .moving, html#myDocument .moving-left, html#myDocument .moving-right {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

html#myDocument .moving, html#myDocument .moving.right {
  transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -webkit-transition: margin 0.1s linear;
}

html#myDocument .input.expanding {
  transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
}

html#myDocument .input.text, html#myDocument .input.editable:focus, html#myDocument input[type='text'], html#myDocument textarea {
  transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
}

html#myDocument .button, html#myDocument button {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

/*# sourceMappingURL=css3-elements.css.map */
