// =========================================================================
// Partials Import
// =========================================================================

@import "../base/core.scss";
@import "../config/config.scss";


/* ELEMENTS WITH CSS3 PROPERTIES */

/* Text Shadow */

// defaultTextShadow
/// Elements Collection with Default Text Shadow
/// @access public
/// @type List
/// @group project-configs
$defaultTextShadowCollection: ();
@each $defaultTextShadowElement in $defaultTextShadowElements {
    $defaultTextShadowCollection: append($defaultTextShadowCollection, unquote('#{$documentID} #{$defaultTextShadowElement}'), comma);
}
#{$defaultTextShadowCollection} {
    @include text-shadow($defaultTextShadow);
}

// customInvertTextShadow
/// Elements Collection with Custom Inverted Text Shadow
/// @access public
/// @type List
/// @group project-configs
$customInvertTextShadowCollection: ();
@each $customInvertTextShadowElement in $customInvertTextShadowElements {
    $customInvertTextShadowCollection: append($customInvertTextShadowCollection, unquote('#{$documentID} #{$customInvertTextShadowElement}'), comma);
}
#{$customInvertTextShadowCollection} {
    @include text-shadow($customInvertTextShadow);
}


/* Box Shadow */

// defaultOutsetBoxShadow
/// Elements Collection with Default Outset Box Shadow
/// @access public
/// @type List
/// @group project-configs
$defaultOutsetBoxShadowCollection: ();
@each $defaultOutsetBoxShadowElement in $defaultOutsetBoxShadowElements {
    $defaultOutsetBoxShadowCollection: append($defaultOutsetBoxShadowCollection, unquote('#{$documentID} #{$defaultOutsetBoxShadowElement}'), comma);
}
#{$defaultOutsetBoxShadowCollection} {
    @include box-shadow($defaultOutsetBoxShadow);
}

// defaultInsetBoxShadow
/// Elements Collection with Default Inset Box Shadow
/// @access public
/// @type List
/// @group project-configs
$defaultInsetBoxShadowCollection: ();
@each $defaultInsetBoxShadowElement in $defaultInsetBoxShadowElements {
    $defaultInsetBoxShadowCollection: append($defaultInsetBoxShadowCollection, unquote('#{$documentID} #{$defaultInsetBoxShadowElement}'), comma);
}
#{$defaultInsetBoxShadowCollection} {
    @include box-shadow($defaultInsetBoxShadow);
}

// customOutsetBoxShadow
/// Elements Collection with Custom Outset Box Shadow
/// @access public
/// @type List
/// @group project-configs
$customOutsetBoxShadowCollection: ();
@each $customOutsetBoxShadowElement in $customOutsetBoxShadowElements {
    $customOutsetBoxShadowCollection: append($customOutsetBoxShadowCollection, unquote('#{$documentID} #{$customOutsetBoxShadowElement}'), comma);
}
#{$customOutsetBoxShadowCollection} {
    @include box-shadow($customOutsetBoxShadow);
}

// customInsetBoxShadow
/// Elements Collection with Custom Inset Box Shadow
/// @access public
/// @type List
/// @group project-configs
$customInsetBoxShadowCollection: ();
@each $customInsetBoxShadowElement in $customInsetBoxShadowElements {
    $customInsetBoxShadowCollection: append($customInsetBoxShadowCollection, unquote('#{$documentID} #{$customInsetBoxShadowElement}'), comma);
}
#{$customInsetBoxShadowCollection} {
    @include box-shadow($customInsetBoxShadow);
}

// customInsetBoxShadow2
/// Elements Collection with Custom Inset Box Shadow 2
/// @access public
/// @type List
/// @group project-configs
$customInsetBoxShadow2Collection: ();
@each $customInsetBoxShadow2Element in $customInsetBoxShadow2Elements {
    $customInsetBoxShadow2Collection: append($customInsetBoxShadow2Collection, unquote('#{$documentID} #{$customInsetBoxShadow2Element}'), comma);
}
#{$customInsetBoxShadow2Collection} {
    @include box-shadow($customInsetBoxShadow2);
}

// customInsetBoxShadow3
/// Elements Collection with Custom Inset Box Shadow 3
/// @access public
/// @type List
/// @group project-configs
$customInsetBoxShadow3Collection: ();
@each $customInsetBoxShadow3Element in $customInsetBoxShadow3Elements {
    $customInsetBoxShadow3Collection: append($customInsetBoxShadow3Collection, unquote('#{$documentID} #{$customInsetBoxShadow3Element}'), comma);
}
#{$customInsetBoxShadow3Collection} {
    @include box-shadow($customInsetBoxShadow3);
}

// customInsetBoxShadow4
/// Elements Collection with Custom Inset Box Shadow 4
/// @access public
/// @type List
/// @group project-configs
$customInsetBoxShadow4Collection: ();
@each $customInsetBoxShadow4Element in $customInsetBoxShadow4Elements {
    $customInsetBoxShadow4Collection: append($customInsetBoxShadow4Collection, unquote('#{$documentID} #{$customInsetBoxShadow4Element}'), comma);
}
#{$customInsetBoxShadow4Collection} {
    @include box-shadow($customInsetBoxShadow4);
}


/* Border Radius */

// defaultBorderRadius
/// Elements Collection with Default Border Radius
/// @access public
/// @type List
/// @group project-configs
$defaultBorderRadiusCollection: ();
@each $defaultBorderRadiusElement in $defaultBorderRadiusElements {
    $defaultBorderRadiusCollection: append($defaultBorderRadiusCollection, unquote('#{$documentID} #{$defaultBorderRadiusElement}'), comma);
}
#{$defaultBorderRadiusCollection} {
    @include border-radius($defaultBorderRadius);
}

// customBorderRadius
/// Elements Collection with Custom Border Radius
/// @access public
/// @type List
/// @group project-configs
$customBorderRadiusCollection: ();
@each $customBorderRadiusElement in $customBorderRadiusElements {
    $customBorderRadiusCollection: append($customBorderRadiusCollection, unquote('#{$documentID} #{$customBorderRadiusElement}'), comma);
}
#{$customBorderRadiusCollection} {
    @include border-radius($customBorderRadius);
}

// customBorderRadius2
/// Elements Collection with Custom Border Radius 2
/// @access public
/// @type List
/// @group project-configs
$customBorderRadius2Collection: ();
@each $customBorderRadius2Element in $customBorderRadius2Elements {
    $customBorderRadius2Collection: append($customBorderRadius2Collection, unquote('#{$documentID} #{$customBorderRadius2Element}'), comma);
}
#{$customBorderRadius2Collection} {
    @include border-radius($customBorderRadius2);
}

// customBorderRadius3
/// Elements Collection with Custom Border Radius 3
/// @access public
/// @type List
/// @group project-configs
$customBorderRadius3Collection: ();
@each $customBorderRadius3Element in $customBorderRadius3Elements {
    $customBorderRadius3Collection: append($customBorderRadius3Collection, unquote('#{$documentID} #{$customBorderRadius3Element}'), comma);
}
#{$customBorderRadius3Collection} {
    @include border-radius($customBorderRadius3);
}


/* Transition */

// defaultTransition
/// Elements Collection with Default Transition
/// @access public
/// @type List
/// @group project-configs
$defaultTransitionCollection: ();
@each $defaultTransitionElement in $defaultTransitionElements {
    $defaultTransitionCollection: append($defaultTransitionCollection, unquote('#{$documentID} #{$defaultTransitionElement}'), comma);
}
#{$defaultTransitionCollection} {
    @include transition($defaultTransition);
}

// customTransition
/// Elements Collection with Custom Transition
/// @access public
/// @type List
/// @group project-configs
$customTransitionCollection: ();
@each $customTransitionElement in $customTransitionElements {
    $customTransitionCollection: append($customTransitionCollection, unquote('#{$documentID} #{$customTransitionElement}'), comma);
}
#{$customTransitionCollection} {
    @include transition($customTransition);
}

// customTransition2
/// Elements Collection with Custom Transition 2
/// @access public
/// @type List
/// @group project-configs
$customTransition2Collection: ();
@each $customTransition2Element in $customTransition2Elements {
    $customTransition2Collection: append($customTransition2Collection, unquote('#{$documentID} #{$customTransition2Element}'), comma);
}
#{$customTransition2Collection} {
    @include transition($customTransition2);
}

// customTransition3
/// Elements Collection with Custom Transition 3
/// @access public
/// @type List
/// @group project-configs
$customTransition3Collection: ();
@each $customTransition3Element in $customTransition3Elements {
    $customTransition3Collection: append($customTransition3Collection, unquote('#{$documentID} #{$customTransition3Element}'), comma);
}
#{$customTransition3Collection} {
    @include transition($customTransition3);
}

// noTransition
/// Elements Collection with No Transition
/// @access public
/// @type List
/// @group project-configs
$noTransitionCollection: ();
@each $noTransitionElement in $noTransitionElements {
    $noTransitionCollection: append($noTransitionCollection, unquote('#{$documentID} #{$noTransitionElement}'), comma);
}
#{$noTransitionCollection} {
    @include transition($noTransition);
}