/* ELEMENTS WITH CSS3 PROPERTIES */
/* Text Shadow */
#myDocument .text-shadow {
  text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -moz-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -webkit-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
  -o-text-shadow: 0 0.1em 0 hsla(0, 0%, 100%, 0.2);
}

#myDocument {
  text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -moz-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -webkit-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
  -o-text-shadow: 0 0.1em 0 hsla(0, 0%, 0%, 0.35);
}

/* Box Shadow */
#myDocument .box-shadow, #myDocument .box, #myDocument .message, #myDocument .message-error, #myDocument .message-alert, #myDocument .message-warning, #myDocument .message-info, #myDocument .message-ok, #myDocument .message-neutral, #myDocument .comments, #myDocument .fixed, #myDocument .timeline .item .content, #myDocument .feedback .quote {
  box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -webkit-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -o-box-shadow: 0 0.1666em 0 hsla(0, 0%, 0%, 0.1);
}

#myDocument .button, #myDocument button {
  box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -moz-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -webkit-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -o-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
}

#myDocument uikit-dropdown .menu, #myDocument .select .list, #myDocument .uk-dropdown {
  box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -webkit-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
  -o-box-shadow: 0.0833em 0.1666em 0 hsla(0, 0%, 0%, 0.1);
}

#myDocument {
  box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -moz-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -webkit-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
  -o-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5), inset 0.075em 0 0 hsla(0, 0%, 0%, 0.25);
}

#myDocument .input.text, #myDocument .input.editable:focus, #myDocument input[type='text'], textarea {
  box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -moz-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -webkit-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
  -o-box-shadow: inset 0 0.1666em 0 hsla(0, 0%, 0%, 0.025);
}

#myDocument {
  box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -moz-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -webkit-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
  -o-box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.25);
}

#myDocument .button, #myDocument button {
  box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -moz-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -webkit-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
  -o-box-shadow: inset 0 -0.0833em 0 hsla(0, 0%, 100%, 0.1);
}

/* Border Radius */
#myDocument .border-radius, #myDocument .border-radius .button, #myDocument .border-radius button, #myDocument .border-radius .quote, #myDocument .border-radius blockquote, #myDocument .border-radius .tag, #myDocument .border-radius .input.checkbox.custom + label, #myDocument .border-radius .input.text, #myDocument .border-radius input[type='text'], .border-radius textarea, #myDocument .border-radius .comments {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

#myDocument .rounded {
  border-radius: 0.3333em;
  -moz-border-radius: 0.3333em;
  -webkit-border-radius: 0.3333em;
}

#myDocument .timeline .list .item .dot, #myDocument .round {
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

#myDocument .flyer.border-radius .action {
  border-radius: 0 0 0.5em 0.5em;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
}

/* Transition */
#myDocument body, #myDocument a, #myDocument .transition, #myDocument .featured-outside .list, #myDocument .moving, #myDocument .moving-left, #myDocument .moving-right {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#myDocument .moving, #myDocument .moving.right {
  transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -webkit-transition: margin 0.1s linear;
}

#myDocument .input.expanding {
  transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
}

#myDocument .input.text, #myDocument .input.editable:focus, #myDocument input[type='text'], #myDocument textarea {
  transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
}

#myDocument .button, #myDocument button {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

/*# sourceMappingURL=css3-elements.css.map */
