// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// BROWN COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 138,106,74;
$linkColorHEX: unquote("#8a6a4a");
$accentColor: 138,106,74;
$accentColorHEX: unquote("#8a6a4a");
// $buttonColor: 112,86,61;
// $buttonColorHEX: unquote("#70563d");