// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// GREEN COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 0,205,172;
$linkColorHEX: unquote("#00cdac");
$accentColor: 0,205,172;
$accentColorHEX: unquote("#00cdac");
// $buttonColor: 0,179,150;
// $buttonColorHEX: unquote("#00b396");