// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// ORANGE COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 238,83,31;
$linkColorHEX: unquote("#EE531F");
$accentColor: 238,83,31;
$accentColorHEX: unquote("#EE531F");
// $buttonColor: 230,70,72;
// $buttonColorHEX: unquote("#e64648");