// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// PINK COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 215,33,126;
$linkColorHEX: unquote("#d721d8");
$accentColor: 215,33,126;
$accentColorHEX: unquote("#d721d8");
// $buttonColor: 190,29,191;
// $buttonColorHEX: unquote("#be1dbf");