// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// PURPLE COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 107,90,180;
$linkColorHEX: unquote("#6b5ab4");
$accentColor: 107,90,180;
$accentColorHEX: unquote("#6b5ab4");
// $buttonColor: 77,65,130;
// $buttonColorHEX: unquote("#4d4182");