// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// RED COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 204,42,65;
$linkColorHEX: unquote("#CC2A41");
$accentColor: 204,42,65;
$accentColorHEX: unquote("#CC2A41");
// $buttonColor: 179,37,57;
// $buttonColorHEX: unquote("#b32539");