// =========================================================================
// Partials Import
// =========================================================================

@import "../../utils/various/hsla-converter.scss";


// YELLOW COLOR SCHEME

// BASE

// Accent Colors
$linkColor: 251,184,41;
$linkColorHEX: unquote("#fbb829");
$accentColor: 251,184,41;
$accentColorHEX: unquote("#fbb829");
// $buttonColor: 224,165,37;
// $buttonColorHEX: unquote("#e0a525");