#myDocument .box-shadow, #myDocument .box, #myDocument .message, #myDocument .message-error, #myDocument .message-alert, #myDocument .message-warning, #myDocument .message-info, #myDocument .message-ok, #myDocument .message-neutral, #myDocument .comments, #myDocument .fixed, #myDocument .timeline .item .content, #myDocument .feedback .quote {
  box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -moz-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -webkit-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -o-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
}

#myDocument uikit-dropdown .menu, #myDocument .select .list, #myDocument .uk-dropdown {
  box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -moz-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -webkit-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -o-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
}

#myDocument {
  box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -moz-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -webkit-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
  -o-box-shadow: inset 0 0 0.1em hsla(0, 0%, 100%, 0.5);
}

/* Theme Overwrites */
/* Default */
body {
  font-size: 16px;
}

.scrollup {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

/* Various */
#myDocument .my-framework .label {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .border {
  border-color: hsla(0, 0%, 0%, 0.125);
}
#myDocument .my-framework img.border {
  border-color: hsla(220, 33%, 98%, 1);
  border-width: 0.25em;
}
#myDocument .my-framework .close {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .quote .icon.right, #myDocument .my-framework blockquote .icon.right {
  color: hsla(0, 0%, 0%, 0.125);
}

/* Content Header */
.my-framework .content > header {
  background-color: hsla(215, 16%, 23%, 1);
}

/* Buttons and Controls */
#myDocument .button, #myDocument button {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .button .title + .icon, #myDocument .button .title + .icon-default, #myDocument button .title + .icon, #myDocument button .title + .icon-default {
  margin-top: 0.25em;
}
#myDocument .button-group .item .button, #myDocument .button-group .item button {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .button-group .item:first-child .button, #myDocument .button-group .item:first-child button {
  border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
}
#myDocument .button-group .item:last-child .button, #myDocument .button-group .item:last-child button {
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}

/* Inputs */
#myDocument .input {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .input.text, #myDocument .input.editable:focus {
  min-width: 7.5em;
  border-width: 0;
  color: hsla(214, 16%, 44%, 0.5);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
#myDocument .input.text {
  /* Chrome Placeholder Fix */
}
#myDocument .input.text:focus {
  color: hsla(214, 16%, 44%, 1);
}
#myDocument .input.text::-webkit-input-placeholder {
  color: hsla(214, 16%, 44%, 0.25);
}
#myDocument .input.text.error, #myDocument .input.text.ok {
  color: hsla(0, 0%, 100%, 0.5);
}
#myDocument .input.text.error::-webkit-input-placeholder, #myDocument .input.text.ok::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}
#myDocument .input.editable {
  border-width: 0.1666em;
}
#myDocument .input.editable:focus {
  border-width: 0.1666em;
  border-color: hsla(0, 0%, 100%, 1);
}
#myDocument .input.editable:hover {
  border-color: hsla(214, 16%, 44%, 0.15);
}
#myDocument .input.editable:focus:hover {
  border-color: hsla(0, 0%, 100%, 1);
}
#myDocument .input.blocknote {
  border-bottom-width: 0.1666em;
  border-bottom-color: hsla(214, 16%, 44%, 0.15);
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .input.blocknote:hover {
  border-bottom-color: hsla(214, 16%, 44%, 0.25);
}
#myDocument .input.blocknote:focus {
  background-color: transparent;
  border-bottom-color: hsla(214, 16%, 44%, 0.35);
}
#myDocument .input.radio.custom + label {
  color: hsla(214, 16%, 44%, 0.35);
}
#myDocument .input.radio.custom + label:hover, #myDocument .input.radio.custom + label:active {
  color: hsla(214, 16%, 44%, 0.75);
}
#myDocument .input.radio.custom:checked + label {
  color: hsla(0, 0%, 100%, 1);
}
#myDocument .input.radio.custom.alt + label {
  padding-top: 0.3333em;
  padding-bottom: 0.3333em;
  transition: background-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
}
#myDocument .input.radio.custom.alt:checked + label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#myDocument .input.checkbox.custom + label {
  padding: 0.25em 0.5833em;
  color: hsla(214, 16%, 44%, 0.35);
}
#myDocument .input.checkbox.custom + label:hover, #myDocument .input.checkbox.custom + label:active {
  color: hsla(214, 16%, 44%, 0.75);
}
#myDocument .input.checkbox.custom:checked + label {
  color: hsla(0, 0%, 100%, 1);
}
#myDocument .input-wrapper.with-icon .input {
  padding-right: 3.25em;
}
#myDocument .input-wrapper.multiple .button, #myDocument .input-wrapper.multiple button {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}
#myDocument .input-wrapper.multiple .button .icon, #myDocument .input-wrapper.multiple button .icon {
  font-size: 150%;
  margin-top: 0.0833em;
}
#myDocument .input-wrapper.multiple .button.only-icon, #myDocument .input-wrapper.multiple button.only-icon {
  padding-top: 0.4334em;
  padding-bottom: 0.4334em;
}
#myDocument .input-wrapper.multiple .button.only-icon .icon, #myDocument .input-wrapper.multiple button.only-icon .icon {
  margin-top: 0.0833em;
}
#myDocument .input-wrapper.multiple .button.file, #myDocument .input-wrapper.multiple button.file {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.5833;
}
#myDocument .input-wrapper.multiple .input {
  border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
}

/* Boxes, Containers and Controls */
#myDocument .thumbs .item .thumb {
  border-color: hsla(220, 33%, 98%, 1);
}
#myDocument .caption {
  background-color: hsla(0, 0%, 100%, 0.9);
}

/* Menus */
#myDocument .menu > .item > a, #myDocument .menu-list > .item > a {
  background-color: hsla(0, 0%, 100%, 1);
}

/* Pagination */
#myDocument .pagination li a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .pagination li:first-child a {
  border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
}
#myDocument .pagination li:last-child a {
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}
#myDocument .pagination li.active a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .pagination li.left a, #myDocument .pagination li.right a {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

/* Alerts and Warnings */
#myDocument .my-framework .message, #myDocument .my-framework .message-thin, #myDocument .my-framework .message-warning, #myDocument .my-framework .message-error, #myDocument .my-framework .message-alert, #myDocument .my-framework .message-info, #myDocument .my-framework .message-ok, #myDocument .my-framework .message-neutral, #myDocument .my-framework .message-modal, #myDocument .my-framework .message-tooltip, #myDocument .my-framework .message-in-box, #myDocument .my-framework .uk-notify-message {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .message .icon.tooltip, #myDocument .my-framework .message-thin .icon.tooltip, #myDocument .my-framework .message-warning .icon.tooltip, #myDocument .my-framework .message-error .icon.tooltip, #myDocument .my-framework .message-alert .icon.tooltip, #myDocument .my-framework .message-info .icon.tooltip, #myDocument .my-framework .message-ok .icon.tooltip, #myDocument .my-framework .message-neutral .icon.tooltip, #myDocument .my-framework .message-modal .icon.tooltip, #myDocument .my-framework .message-tooltip .icon.tooltip, #myDocument .my-framework .message-in-box .icon.tooltip, #myDocument .my-framework .uk-notify-message .icon.tooltip {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

/* Box */
#myDocument .box > header {
  background-color: hsla(215, 16%, 23%, 1);
}
#myDocument .box > header > .trigger {
  margin-top: 0.0416em;
}

/* Flyer */
#myDocument .flyer {
  border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -webkit-border-radius: 0 0 0.25em 0.25em;
}
#myDocument .flyer .content + .button {
  border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -webkit-border-radius: 0 0 0.25em 0.25em;
}

/* Tables */
.my-framework {
  /* Classic Tables */
  /* List Tables*/
}
.my-framework table caption {
  background-color: hsla(215, 16%, 23%, 1);
}
.my-framework table td, .my-framework table th {
  background-color: hsla(0, 0%, 100%, 1);
}
.my-framework table th, .my-framework table tfoot td {
  background-color: hsla(220, 33%, 98%, 1);
}
.my-framework .table .list .item {
  background-color: hsla(0, 0%, 100%, 1);
}
.my-framework .table .list .item.header, .my-framework .table .list .item.footer {
  background-color: hsla(220, 33%, 98%, 1);
}

/* COMPONENTS */
/* Horizontal Rules */
#myDocument .hr, #myDocument .hr-dotted, #myDocument .hr-dashed, #myDocument .hr-thick, #myDocument .hr-stripes {
  border-bottom-color: hsla(0, 0%, 0%, 0.1);
}

/* Social Icons */
#myDocument .social .item a .icon {
  margin-top: 0;
}
#myDocument .social.with-background .item a {
  min-width: 36px;
  min-height: 36px;
  border-radius: 5em;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
}
#myDocument .social.with-background .item a .icon {
  min-width: 16px;
  min-height: 16px;
  margin-top: 0.4166em;
}

/* Timeline */
#myDocument .timeline .bar {
  border-radius: 5em;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
}
#myDocument .timeline .list .item .content {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .timeline.vertical .list .item .title {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

/* Feedback */
#myDocument .feedback .quote, #myDocument .feedback-right .quote {
  box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -moz-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -webkit-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -o-box-shadow: 0 0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .feedback .client, #myDocument .feedback-right .client {
  margin-right: 1em;
}
#myDocument .feedback .client .avatar, #myDocument .feedback-right .client .avatar {
  margin-top: 0;
  border-color: hsla(220, 33%, 98%, 1);
  border-radius: 5em;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
}
#myDocument .feedback-right .client {
  margin-left: 0;
}

/* Pricing Tables */
#myDocument .pricing-table thead th.features {
  background-color: hsla(0, 0%, 100%, 1);
}
#myDocument .pricing-table tfoot td a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .pricing-table tfoot tr {
  background-color: hsla(220, 33%, 98%, 1);
}
#myDocument .pricing-table tfoot tr:nth-child(2) td:first-child {
  background-color: hsla(0, 0%, 100%, 1);
}
#myDocument .table.pricing .list.features {
  background-color: hsla(0, 0%, 100%, 1);
}
#myDocument .table.pricing .list.features .item.footer .title {
  padding-top: 0.5416em;
  padding-bottom: 0.5416em;
}
#myDocument .table.pricing .list .footer a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#myDocument .table.pricing .list .item .price {
  background-color: hsla(220, 33%, 98%, 1);
}

/* Comments */
#myDocument .my-framework .comments .post-comment button {
  border-radius: 0.25em 0 0.25em 0;
  -moz-border-radius: 0.25em 0 0.25em 0;
  -webkit-border-radius: 0.25em 0 0.25em 0;
}
#myDocument .my-framework .comments > .list > .item aside.commenter img {
  border-color: hsla(220, 33%, 98%, 1);
  border-radius: 5em;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
}

/* UIKit */
#myDocument .my-framework .uikit-component .uk-search:after {
  top: 0.285em;
}
#myDocument .my-framework .uikit-component .uk-search .uk-search-close {
  top: 0.285em;
}
#myDocument .my-framework .uikit-component .uk-search .uk-search-field {
  padding-right: 2.5em;
}
#myDocument .my-framework .uikit-component .uk-active.uk-search .uk-search-field {
  border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -webkit-border-radius: 0.25em 0.25em 0 0;
}
#myDocument .my-framework .uikit-component .uk-placeholder {
  border: 0.1666em dashed hsla(214, 20%, 93%, 1);
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .uikit-component .uk-nav.uk-nav-autocomplete > li > a {
  color: hsla(214, 16%, 44%, 0.5);
}
#myDocument .my-framework .uikit-component .uk-nav.uk-nav-autocomplete > li > a:hover, #myDocument .my-framework .uikit-component .uk-nav.uk-nav-autocomplete > li > a:active {
  color: hsla(214, 16%, 44%, 1);
  background-color: hsla(220, 33%, 98%, 1);
}
#myDocument .my-framework .uikit-component .uk-nav .uk-nav-sub .item a {
  background-color: hsla(220, 33%, 98%, 1);
}
#myDocument .my-framework .uikit-component .uk-nav .uk-nav-sub .item a:hover, #myDocument .my-framework .uikit-component .uk-nav .uk-nav-sub .item a:active {
  background-color: hsla(0, 0%, 100%, 1);
}
#myDocument .my-framework .uikit-component .uk-autocomplete.uk-open .timepicker {
  border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -webkit-border-radius: 0.25em 0.25em 0 0;
}
#myDocument .my-framework .uikit-component .uk-tab + .uk-switcher {
  border-radius: 0 0.25em 0.25em 0.25em;
  -moz-border-radius: 0 0.25em 0.25em 0.25em;
  -webkit-border-radius: 0 0.25em 0.25em 0.25em;
}
#myDocument .my-framework .uikit-component .uk-switcher {
  background-color: hsla(0, 0%, 100%, 1);
  margin: 0;
  border-radius: 0.25em 0.25em 0.25em 0;
  -moz-border-radius: 0.25em 0.25em 0.25em 0;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0;
}
#myDocument .my-framework .uikit-component .uk-switcher li > * {
  margin-bottom: 0;
}
#myDocument .my-framework .uikit-component .uk-tab > li {
  margin-bottom: -0.0833em;
}
#myDocument .my-framework .uikit-component .uk-tab li > a {
  color: hsla(214, 16%, 44%, 0.5);
  background-color: hsla(220, 33%, 98%, 1);
  border: none;
}
#myDocument .my-framework .uikit-component .uk-tab li > a:hover, #myDocument .my-framework .uikit-component .uk-tab li > a:active {
  color: hsla(172, 72%, 43%, 1);
  background-color: hsla(220, 33%, 98%, 1);
}
#myDocument .my-framework .uikit-component .uk-tab li.uk-active > a, #myDocument .my-framework .uikit-component .uk-tab li.uk-active > a:hover, #myDocument .my-framework .uikit-component .uk-tab li.uk-active > a:active {
  color: hsla(214, 16%, 44%, 1);
}
#myDocument .my-framework .uikit-component .uk-tab li:nth-child(n+2) > a {
  margin-left: 0;
}
#myDocument .my-framework .uikit-component .uk-tab li:first-child > a {
  border-radius: 0.25em 0 0 0;
  -moz-border-radius: 0.25em 0 0 0;
  -webkit-border-radius: 0.25em 0 0 0;
}
#myDocument .my-framework .uikit-component .uk-tab li[class~='item']:last-of-type > a {
  border-radius: 0 0.25em 0 0;
  -moz-border-radius: 0 0.25em 0 0;
  -webkit-border-radius: 0 0.25em 0 0;
}
#myDocument .my-framework .uikit-component .uk-tab > li:not(.uk-active) > a:hover, #myDocument .my-framework .uikit-component .uk-tab > li:not(.uk-active) > a:focus {
  padding-bottom: 0.5em;
}
#myDocument .my-framework .uikit-component .uk-tab-bottom > li {
  margin-top: -0.0833em;
}
#myDocument .my-framework .uikit-component .uk-tab-bottom > li:not(.uk-active) > a:hover, #myDocument .my-framework .uikit-component .uk-tab-bottom > li:not(.uk-active) > a:focus {
  padding-top: 0.5em;
}
#myDocument .my-framework .uikit-component .uk-tab-bottom li:first-child > a {
  border-radius: 0 0 0 0.25em;
  -moz-border-radius: 0 0 0 0.25em;
  -webkit-border-radius: 0 0 0 0.25em;
}
#myDocument .my-framework .uikit-component .switcher-content.left .uk-switcher {
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}
#myDocument .my-framework .uikit-component .switcher-tabs.left .uk-tab > li, #myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab > li {
  margin-bottom: 0;
}
#myDocument .my-framework .uikit-component .switcher-tabs.left .uk-tab li > a, #myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab li > a {
  padding-top: 1.125em;
  padding-bottom: 1.125em;
}
#myDocument .my-framework .uikit-component .switcher-tabs.right {
  margin-left: 0;
}
#myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab li:first-child > a {
  border-radius: 0 0.25em 0 0;
  -moz-border-radius: 0 0.25em 0 0;
  -webkit-border-radius: 0 0.25em 0 0;
}
#myDocument .my-framework .uikit-component .uk-tab-left > li:nth-child(n+2) > a, #myDocument .my-framework .uikit-component .uk-tab-right > li:nth-child(n+2) > a {
  margin-top: 0;
}
#myDocument .my-framework .uikit-component .uk-tab-left, #myDocument .my-framework .uikit-component .uk-tab-right {
  border: none;
}
#myDocument .my-framework .uikit-component .uk-tab-left > li:not(.uk-active) > a:hover, #myDocument .my-framework .uikit-component .uk-tab-left > li:not(.uk-active) > a:focus, #myDocument .my-framework .uikit-component .uk-tab-right > li:not(.uk-active) > a:hover, #myDocument .my-framework .uikit-component .uk-tab-right > li:not(.uk-active) > a:focus {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
#myDocument .my-framework .uikit-component .switcher-content.right .uk-switcher {
  border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
}
#myDocument .my-framework .uikit-component .uk-progress {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .uikit-component.uk-button-group > .button {
  border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  -webkit-border-radius: 0.25em 0 0 0.25em;
}
#myDocument .my-framework .uikit-component.uk-button-group .uikit-trigger {
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}
#myDocument .my-framework .uikit-component p:first-child {
  margin-bottom: 0;
}
#myDocument .my-framework .uk-notify .uk-notify-message a.uk-close {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
#myDocument .my-framework .input-wrapper > a.uk-form-password-toggle {
  top: 0.62em;
}
#myDocument .my-framework .input-wrapper > .icon {
  font-size: 150%;
  top: 0.4166em;
}
#myDocument .my-framework .uikit-dropdown.uk-open .uikit-trigger {
  color: hsla(214, 16%, 44%, 1);
  background-color: hsla(220, 33%, 98%, 1);
  border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -webkit-border-radius: 0.25em 0.25em 0 0;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown {
  background-color: transparent;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown .menu {
  margin: 0;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown .menu .item:first-child a {
  border-radius: 0 0.25em 0 0;
  -moz-border-radius: 0 0.25em 0 0;
  -webkit-border-radius: 0 0.25em 0 0;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown .menu .item:last-child a {
  border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -webkit-border-radius: 0 0 0.25em 0.25em;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown .menu .item a {
  color: hsla(214, 16%, 44%, 1);
  background-color: hsla(220, 33%, 98%, 1);
  border-bottom: none;
}
#myDocument .my-framework .uikit-dropdown .uk-dropdown .menu .item a:hover, #myDocument .my-framework .uikit-dropdown .uk-dropdown .menu .item a:active {
  color: hsla(214, 16%, 44%, 1);
  background-color: hsla(0, 0%, 100%, 1) !important;
}
#myDocument .my-framework .uikit-dropdown .menu .item .link:hover, #myDocument .my-framework .uikit-dropdown .menu .item .link:active {
  background-color: hsla(172, 72%, 43%, 1);
}
#myDocument .my-framework .uikit-dropdown.dropdown-up.uk-open .uikit-trigger {
  border-radius: 0 0 0.25em 0.25em;
  -moz-border-radius: 0 0 0.25em 0.25em;
  -webkit-border-radius: 0 0 0.25em 0.25em;
}
#myDocument .my-framework .uikit-dropdown.dropdown-up .menu .item:first-child a {
  border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -webkit-border-radius: 0.25em 0.25em 0 0;
}
#myDocument .my-framework .uikit-dropdown.dropdown-up .menu .item:last-child a {
  border-radius: 0 0.25em 0.25em 0;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0 0.25em 0.25em 0;
}
#myDocument .my-framework .uikit-dropdown.dropdown-up .uk-dropdown-up {
  box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -moz-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -webkit-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  -o-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
}

/* Media Queries */
@media only screen and (min-width: 640px) and (max-width: 800px) {
  #myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab li:first-child > a, #myDocument .my-framework .uikit-component .switcher-tabs.left .uk-tab li:first-child > a {
    border-radius: 0.25em 0.25em 0 0;
    -moz-border-radius: 0.25em 0.25em 0 0;
    -webkit-border-radius: 0.25em 0.25em 0 0;
  }
  #myDocument .my-framework .uikit-component .switcher-content.right .uk-switcher, #myDocument .my-framework .uikit-component .switcher-content.left .uk-switcher {
    border-radius: 0 0 0.25em 0.25em;
    -moz-border-radius: 0 0 0.25em 0.25em;
    -webkit-border-radius: 0 0 0.25em 0.25em;
  }
  #myDocument .my-framework .uikit-component .uk-tab-right > li, #myDocument .my-framework .uikit-component .uk-tab-left > li {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  #myDocument .my-framework {
    /* UIKit */
  }
  #myDocument .my-framework .uikit-component .uk-tab li > a {
    border-radius: 0.25em 0.25em 0 0;
    -moz-border-radius: 0.25em 0.25em 0 0;
    -webkit-border-radius: 0.25em 0.25em 0 0;
  }
  #myDocument .my-framework .uikit-component .uk-tab.uk-tab-bottom li > a {
    border-radius: 0 0 0.25em 0.25em;
    -moz-border-radius: 0 0 0.25em 0.25em;
    -webkit-border-radius: 0 0 0.25em 0.25em;
  }
  #myDocument .my-framework .uikit-component .uk-tab.uk-tab-bottom .uk-dropdown {
    margin-bottom: 0;
    box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
    -moz-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
    -webkit-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
    -o-box-shadow: 0 -0.1666em 0.0833em hsla(214, 16%, 44%, 0.075);
  }
  #myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab > li {
    float: right;
  }
  #myDocument .my-framework .uikit-component .switcher-tabs.right .uk-tab li > a, #myDocument .my-framework .uikit-component .switcher-tabs.left .uk-tab li > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  #myDocument .my-framework .uikit-component .switcher-content.left .uk-switcher {
    border-radius: 0 0.25em 0.25em 0.25em;
    -moz-border-radius: 0 0.25em 0.25em 0.25em;
    -webkit-border-radius: 0 0.25em 0.25em 0.25em;
  }
  #myDocument .my-framework .uikit-component .switcher-content.right .uk-switcher {
    border-radius: 0.25em 0 0.25em 0.25em;
    -moz-border-radius: 0.25em 0 0.25em 0.25em;
    -webkit-border-radius: 0.25em 0 0.25em 0.25em;
  }
}
@media only screen and (max-width: 800px) {
  #myDocument .my-framework table tbody tr {
    margin-left: -0.3333em;
  }
  #myDocument .my-framework .pricing-table thead th:last-child {
    border-bottom: none;
  }
  #myDocument .my-framework .pricing-table thead th:last-child .title {
    border-right: none;
  }
  #myDocument .my-framework .pricing-table thead th .title {
    padding-top: 0.54em;
    padding-bottom: 0.54em;
    border-right: none;
  }
  #myDocument .my-framework .pricing-table.with-description thead th .title {
    padding-top: 0.5833em;
    padding-bottom: 0.5833em;
  }
  #myDocument .my-framework .comments > .list > .item aside.comment-block .controls, #myDocument .my-framework .comments > .list > .item.replied .reply .replier .comment-block .controls {
    display: block;
  }
}

/*# sourceMappingURL=new-theme.css.map */
